.print-file-pdf::before {
  content: "⎙";
}
#edit-pdf--description {
  position: relative;
}
#edit-pdf--description .draggable {
  position: absolute;
  cursor: grab;
}
#edit-pdf--description canvas {
  border: thin solid #0d0d0d;
}
